

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header bg-primary text-white">Курс доллара</div>
  <div class="card-body">
    <h5 class="card-title" id="rate"> <p><%= number_to_currency(rate) %></p></h5>
  </div>
</div>